.blackhole-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  background: radial-gradient(ellipse at center, #0a0a1a 0%, #000002 70%);
}

.blackhole-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}


